head
  meta(charset='UTF-8')
  title #{pageTitle}
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:400,700&amp;subset=latin-ext")
  block styles
nav
  .nav-bar
    a(href='/')
      button.nav-button(type='button' class=(pagePath==='/' ? 'active' : '')) Shop
    if isLoggedIn
      a(href='/admin/addproduct')
        button.nav-button(type='button' class=(pagePath==='/admin/addproduct' ? 'active' : '')) Add product
    if isLoggedIn
      a(href='/myorders')
        button.nav-button(type='button' class=(pagePath==='/myorders' ? 'active' : '')) Orders
    .buttonsContainer
      if !isLoggedIn
        a(href="/login")
          button.stdButton Login
        a(href="/register")
          button.stdButton Register
      else
        a(href="/profile")
          button.stdButton Profile
        form(action="/logout", method="post")
          input(type="hidden", name="_csrf", value=csrfToken)
          button.stdButton(type="submit") Logout        
      a(href="/cart")
        button.stdButton(id='cart') 
          i(class="fas fa-shopping-cart")
          if amountOfCartItems > 0
            span.cartCounter #{amountOfCartItems}
main
  block content