extends layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
block content
        form.formContainer(action='/admin/addproduct' method='post')    
            label(for='name') Product name
            input.formInput(type='text' name='name')
            label(for='price') Product price
            input.formInput(type='text' name='price')
            label(for='imageURL') Product URL
            input.formInput(type='text' name='imageURL')
            label(for='description') Product desctription
            textarea.formInput(name='description' rows='5')
            label(for='quantity') Product quantity
            input.formInput(type='text' name='quantity')
            if errs
                .errorMessage
                    each err in errs
                        p #{err.message}
            button.stdButton(type='submit') Add 
