.header404{
    color: #e3e3e3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image404{
    height: 500px;
    object-fit: contain;
    object-position: center;
}
.container404{
    margin-right: auto;
    margin-left: auto;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}