.formContainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.formInput{
    margin: 10px;
    width: 250px;
    min-height: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transition: background-color .5s;
}

.formInput:focus{
    outline: none;
    background-color: #e6e6e6
}

.errorMessage{
    color: #ff3f3f;
}
 .doneMessage{
     color: #44bf57;
     font-size: 20px;
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }