.mainContainer{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-gap: 50px;
    
}

.productContainer{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 15px;
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3c3c3c;
    border-radius: 10%;
    position: relative; 
    overflow: hidden;   
}

.aboutProducts{
    width: 300px;
    text-align: center;
    margin:5px;
}
.productImage {
    margin:5px;
    width: 300px;
    height: 200px;
    object-position: center;
    border-radius: 10%;
}
.productName{
    font-weight: 700;
    font-size: 22px;  
    margin:5px;        
}
.productPrice{
    font-weight: 700;
    font-size: 20px;  
    margin:5px;  
}

.pagination{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    }

.paginationButton{
    margin: 5px;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    background-color: #44bf57;
    border-radius: 50%;
}

.paginationArrow{
    margin: 5px;
    font-size: 20px;
 }

 .activePaginationButton{
    background-color: #9c9c9c;
 }

 .buttonProductWrapper{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

