extends ../layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/404.css")
block content
    .container404
        h2.header404 Page not found
        img.image404(src='http://res.freestockphotos.biz/pictures/17/17885-cat-close-up-pv.jpg' alt='')
