extends ../layouts/mainLayout.pug

block styles
    link(rel="stylesheet", href="/css/errors.css")
block content
    .container404
        h2.header404 Something went wrong :(
        img.image404(src='https://miro.medium.com/max/754/1*snTXFElFuQLSFDnvZKJ6IA.png' alt='')
